.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(194, 189, 235);
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.link {
  font-size: 26px;
  text-decoration: none;
}
.nav {
  display: flex;
  gap: 20px;
  justify-content: right;
  align-items: center;
}
.active {
  color: red;
  text-decoration: underline;
}

.btn {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 500;
}
.btn:hover {
  background-color: #091ec2;
  color: white;
}
.mail {
}
