.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.inputBox {
}
.title {
}
.input {
  width: 250px;
  height: 25px;
}
.btn {
  display: inline-block;
  height: 30px;
}
