.header {
  background-color: lightgray;
}
.link {
  font-size: 26px;
  text-decoration: none;
}
.nav {
  display: flex;
  gap: 20px;
  justify-content: right;
}
.active {
  color: red;
  text-decoration: underline;
}

.btn {
  height: 20px;
}

h3 {
  margin: 0;
}
