ul {
  list-style-type: none;
}
.listItem {
  display: flex;
  border: 1px solid black;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}
p {
  margin: 0;
  font-size: 20px;
}
.btnDel {
  height: 35px;
}

.svg {
  margin-right: 10px;
}
