ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.listItem {
  display: flex;
  border: 1px solid black;
  min-width: 250px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}
p {
  margin: 0;
  font-size: 20px;
}
.btnDel {
  padding: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.btnDel:hover {
  background-color: #091ec2;
  color: white;
}
.svg {
  margin-right: 10px;
}

.listWrapper {
  padding-left: 20px;
  padding-right: 20px;
}
